*, *:after, *:before{
	box-sizing: border-box;
}

#page-wrapper{
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

/**
 * Variables
 */

@colorLightest: #5F7386;
@colorLight: #41576D;
@colorMain: #2B3E50;
@colorDark: #1B3146;
@colorDarkest: #0C1F32;

/**
 * Discovery page
 */

.discovery{

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 50em;

	.header{

		margin: 0;
		border-bottom: 2px solid @colorLightest;
		padding: 0.3em 1em 0.6em 1em;

		.row{
			display: flex;
			align-items: center;
		}
	}

	.body{
		padding: 0.6em 1em 0.6em 1em;
		margin: 0;
		flex: 1;
		display: flex;
		align-items: stretch;

		.row{
			display: flex;
			align-items: stretch;
			flex: 1;
		}

		.map, .listings-container{
			display: block;
			border: 4px solid @colorLightest;
		}

		.listings-container{
			display: flex;
			flex-direction: column;
			padding-top: 0.6em;

			.listings{
				padding: 0 0.6em 0em 0.6em;
				flex: 1;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				overflow-y: auto;
				
				.listing{
					width: 49%;
					margin: 0.5%;
					padding: 0.4em;
					border: 1px solid @colorLightest;
					background-color: @colorLight;

					.description{
						max-height: 150px;
					}

					img{
						height: 182px;
						width: auto;
					}

					&:hover{
						cursor: hand;
						cursor: pointer;
						background-color: @colorLightest;
					}
				}
			}

			.pagination{
				display: block;
				margin: auto;
				margin-top: 0;
				margin-bottom: 0;
				padding: 0.6em 0 0.6em 0;
			}
		}
	}

	.periods{
		border-top: 2px solid @colorLightest;
		width: 100%;
		padding: 0.6em 1em 1em 1em;
		margin: 0;
	}
}

/**
 * Listing page
 */

.listing-page{
	width: 100%;
	height: 100%;
	padding: 1em;
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden;
	min-height: 50em;

	.poster{
		height: 65%;
		padding: 1em;
		margin: auto;
		display: block;	
	}

	.map{
		height: 30%;
		border: 4px solid @colorLightest;
	}

	.regions{
		height: 5%;
		text-align: center;
	}

	.details{
		height: 100%;
		border: 2px solid @colorLightest;

		display: flex;
		flex-direction: column;

		.header{
			flex: 1;
		}

		.description{
			flex: 2;
		}

		.footer{
			flex: 3;
		}
	}
}