html
	head
		title="Hexp Admin"
		link(rel="stylesheet", href="/public/stylesheets/admin.css")
		link(rel="stylesheet", href="/pure/grids-responsive-min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")
		link(href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css", rel="stylesheet", type='text/css')

	body
		div(id="app")
		script(src="/public/scripts/admin.min.js")