html
	head
		title="History Explorer"
		link(rel="stylesheet", href="/pure/pure-min.css")
		link(rel="stylesheet", href="/public/stylesheets/user.css")
		link(rel="stylesheet", href="/leaflet/leaflet.css")

	body
		div(id="app")
		script(src="/public/scripts/user.min.js")